<br>
<br>
<br>
<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label>Hospedajes</label></div>
            <div class="panel-body">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a class="btn btn-info" ui-sref="hospedajesCreate"><span class="glyphicon glyphicon-plus-sign"></span> Agregar un nuevo hospedaje</a>
                    </div>
                </div>
                <br>
                <div>
                        <label>Filtra tu búsqueda: </label>
                        <input type="text" ng-model="buscador" />
                    </div>
                <div>
                    
                    <!--<button id="create-btn" class="btn btn-default btn-sm" ui-sref="hospedajesCreate" style="float: right;"><span class="glyphicon glyphicon-plus"></span>Agregar</button>-->
                    <table class="table table-striped col-md-4">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Valor</th>
                                <!--<th>Fecha inicio</th>-->
                                <!--<th>Fecha final</th>-->
                                <th>Calificación</th>
                                <!--<th>Comentarios</th>-->
                                <!--<th>Descripción</th>-->
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="record in hospedajesRecords|filter:buscador">
                                <td id="{{$index}}-nombre"><a ui-sref="hospedajeDetail({hospedajesId: record.idHospedaje})">{{record.nombreHospedaje}}</a></td>
                                <td id="{{$index}}-valor">{{record.valorHospedaje | currency}}</td>
                                <!--<td id="{{$index}}-fechaInicio">{{record.fechaInicio}}</td>-->
                                <!--<td id="{{$index}}-fechaFinal">{{record.fechaFinal}}</td>-->
                                <td id="{{$index}}-calificacion">{{record.calificacionHospedaje}}</td>
                                <!--<td id="{{$index}}-comentarios">{{record.comentarios}}</td>-->
                                <!--<td id="{{$index}}-descripcion">{{record.descripcion}}</td>-->
                                <td>
                                    <button id="{{$index}}-edit-btn" class="btn btn-primary btn-sm" ui-sref="hospedajesEdit({hospedajesId: record.idHospedaje})"><span class="glyphicon glyphicon-edit"></span> Modificar</button>
                                    <button id="{{$index}}-delete-btn" class="btn-danger btn-sm" ng-click="ctrl.deleteRecord(record.idHospedaje)"><span class="glyphicon glyphicon-minus"></span> Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>