<br>
<br>
<br>
<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
         
               
            <div class="panel-body">
                <form ng-submit="ctrl.saveRecord(currentRecord.idHospedaje)" name="transporte">
                    
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="nombre" class="col-sm-2">Nombre</label>
                            <input id="nombre" required ng-model="currentRecord.nombreHospedaje" class="col-sm-6"/>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="valor" class="col-sm-2">Valor</label>
                            <textarea id="valor" required ng-model="currentRecord.valorHospedaje" class="col-sm-6"></textarea>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="fechaInicio" class="col-sm-2">Fecha de Inicio</label>
                            <textarea id="fechaInicio" required ng-model="currentRecord.fechaInicioHospedaje" class="col-sm-6"></textarea>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="fechaFinal" class="col-sm-2">Fecha Final</label>
                            <textarea id="fechaFinal" required ng-model="currentRecord.fechaFinalHospedaje" class="col-sm-6"></textarea>
                        </div>
                    </div> 
                    
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="calificacion" class="col-sm-2">Calificacion</label>
                            <textarea id="calificacion" required ng-model="currentRecord.calificacionHospedaje" class="col-sm-6"></textarea>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="comentarios" class="col-sm-2">Comentarios</label>
                            <textarea id="comentarios" required ng-model="currentRecord.comentariosHospedaje" class="col-sm-6"></textarea>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="descripcion" class="col-sm-2">Descripcion</label>
                            <textarea id="descripcion" required ng-model="currentRecord.descripcionHospedaje" class="col-sm-6"></textarea>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!transporte.$valid">
                            <div class="alert alert-warning" >
                                <strong>Atención! </strong><p>Todos los campos son necesarios</p>
                            </div> 
                        </div> 
                    </div> 
                    
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="transporte.$valid" type="submit" value="Save" class="btn btn-success"/>
                            <a class="btn btn-danger" ui-sref="hospedajesList">Cancelar</a>
                        </div>
                    </div>
                    
                </form>

            </div>
        </div>
    </div>
</div>


