<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label>Itinerario Detail</label></div>
            <div class="panel-body">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                         </div>
                </div>
                <div class="col-md-8">
                    <button type="button" ui-sref='itinerariosList' style="float: right;">Volver</button>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>    
                                <th>Costo</th>
                                <th>Fecha inicial</th>
                                <th>Fecha final</th>
                                <th>Visitantes</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                             <td id="{{$index}}-id">{{currentRecord.id}}</td>
                             <td id="{{$index}}-costo">{{currentRecord.costoTotal}}</td>   
                             <td id="{{$index}}-fechaIni">{{currentRecord.fechaInicial}}</td>   
                             <td id="{{$index}}-fechaFi">{{currentRecord.fechaFinal}}</td>   
                             <td id="{{$index}}-cantidad">{{currentRecord.numeroVisitantes}}</td>   
                             <td>
                                <button type="button" ui-sref='itinerariosPago({itinerarioPago: currentRecord.costoTotal})' style="float: right;">Pagar</button>
                             </td>
                            </tr>
                        </tbody>
                    </table>
                     
                </div>
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th>Guia Nombre</th>
                                <th>Guia Fecha Inicio</th>
                                <th>Guia Fecha Fin</th>
                                <th>Guia Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="guia in currentRecord.guias">
                               
                             <td id="{{$index}}-guia">{{guia.nombre}}</td>
                             <td id="{{$index}}-guia">{{guia.fechaInicio}}</td>
                             <td id="{{$index}}-guia">{{guia.fechaFinal}}</td>
                             <td>
                                <button id="{{$index}}-delete-btn" class="btn-danger btn-sm" ng-click="ctrl.deleteRecordGuia(currentRecord.id, guia.id)"><span class="glyphicon glyphicon-minus"></span> Eliminar</button>
                             </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th>Transporte Nombre</th>
                                <th>Transporte Fecha Inicio</th>
                                <th>Transporte Fecha Fin</th>
                                <th>Transporte Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="transporte in currentRecord.transportes">
                               
                             <td id="{{$index}}-transporte">{{transporte.nombre}}</td>
                             <td id="{{$index}}-transporte">{{transporte.fechaInicio}}</td>
                             <td id="{{$index}}-transporte">{{transporte.fechaFinal}}</td>
                             <td>
                                <button id="{{$index}}-delete-btn" class="btn-danger btn-sm" ng-click="ctrl.deleteRecordTransporte(currentRecord.id, transporte.id)"><span class="glyphicon glyphicon-minus"></span> Eliminar</button>
                             </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th>Hospedaje Nombre</th>
                                <th>Hospedaje Fecha Inicio</th>
                                <th>Hospedaje Fecha Fin</th>
                                <th>Hospedaje Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="hospedaje in currentRecord.hospedajes">
                               
                             <td id="{{$index}}-hospedaje">{{hospedaje.nombre}}</td>
                             <td id="{{$index}}-hospedaje">{{hospedaje.fechaInicio}}</td>
                             <td id="{{$index}}-hospedaje">{{hospedaje.fechaFinal}}</td>
                             <td>
                                <button id="{{$index}}-delete-btn" class="btn-danger btn-sm" ng-click="ctrl.deleteRecordHospedaje(currentRecord.id, hospedaje.id)"><span class="glyphicon glyphicon-minus"></span> Eliminar</button>
                             </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th>Entretenimiento Nombre</th>
                                <th>Entretenimiento Fecha Inicio</th>
                                <th>Entretenimiento Fecha Fin</th>
                                <th>Entretenimiento Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="entretenimiento in currentRecord.entretenimientos">
                               
                             <td id="{{$index}}-entretenimiento">{{entretenimiento.nombre}}</td>
                             <td id="{{$index}}-entretenimiento">{{entretenimiento.fechaInicio}}</td>
                             <td id="{{$index}}-entretenimiento">{{entretenimiento.fechaFinal}}</td>
                             <td>
                                <button id="{{$index}}-delete-btn" class="btn-danger btn-sm" ng-click="ctrl.deleteRecordEntretenimiento(currentRecord.id, entretenimiento.id)"><span class="glyphicon glyphicon-minus"></span> Eliminar</button>
                             </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>