<alert class="alert alert-danger" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label>Companias</label></div>
            <div class="panel-body">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a class="btn btn-info" ui-sref="companiasCreate"><span class="glyphicon glyphicon-plus-sign"></span> Agregar una nueva compania</a>
                    </div>
                </div>
                <br>
                 <div>
                        <label>Filtra tu búsqueda: </label>
                        <input type="text" ng-model="buscador" />
                    </div>
                <table class="table table-striped col-md-4">
                    <thead>
                        <tr>
                            <th>Nombre</th>
<!--                            <th>Email</th>
                            <th>Telefono</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="record in records|filter:buscador">
                            <td id="{{$index}}-nombre"><a ui-sref="companiaDetail({companiaId: record.id})">{{record.nombre}}</a></td>
                            <!--<td id="{{$index}}-email">{{record.email}}</td>-->
                            <!--<td id="{{$index}}-telefono">{{record.telefono}}</td>-->
                            <td>
                                <button id="{{$index}}-edit-btn" class="btn btn-primary btn-sm" ui-sref="companiasEdit({companiaId: record.id})"><span class="glyphicon glyphicon-edit"></span> Modificar </button>
                                <button id="{{$index}}-delete-btn" class="btn btn-danger btn-sm" ng-click="ctrl.deleteRecord(record.id)"><span class="glyphicon glyphicon-minus"></span> Eliminar </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    
    
</div>