<div class="col-xs-6 col-sm-6 col-md-8 col-lg-10 well">

    <form novalidate name="form" id="usuario-form" role="form" ng-submit="form.$valid && ctrl.saveRecord(currentRecord.id)">

        <div ng-messages="form.$error">
            <div ng-message="required">Llene los campos requeridos!</div>
        </div>

        <fieldset>
            <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id" />
            <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}">
                <label for="nombre" class="col-md-2 control-label">Nombre</label>
                <div class="col-md-4">
                    <input id="nombre" name="nombre" class="form-control" type="text" ng-model="currentRecord.nombre" ng-init="currentRecord.nombre" required />
                </div>               
            </div>
            <button type="button" ui-sref='usuariosList' style="float: center;">Cancelar</button>
            <button type="submit">Finalizar</button>            
        </fieldset>
    </form>
</div>