<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label>Usuarios</label></div>
            <div class="panel-body">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a class="btn btn-info" ui-sref="usuariosCreate"><span class="glyphicon glyphicon-plus-sign"></span> Agregar un nuevo usuario</a>
                    </div>
                </div>
                <br>
                <div>
                    <table class="table table-striped col-md-4">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="record in records">
                                <td id="{{$index}}-nombre"><a ui-sref="usuarioDetail({usuariosId: record.id})">{{record.nombre}}</a></td>
                                <td>
                                    <button id="{{$index}}-edit-btn" class="btn btn-primary btn-sm" ui-sref="usuariosEdit({usuariosId: record.id})"><span class="glyphicon glyphicon-edit"></span> Modificar</button>
                                    <button id="{{$index}}-delete-btn" class="btn-danger btn-sm" ng-click="ctrl.deleteRecord(record.id)"><span class="glyphicon glyphicon-minus"></span> Eliminar</button>
                                </td>
                            </tr>
                        </tbody>                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>